.footer {
    overflow: hidden;
    // height: 1000px;
    background-color: gray;
    &__container {
        margin-top: 24px;
        margin-bottom: 12px;
    }
    &__sns-list {
        text-align: right;
    }
    &__sns-item {
        display: inline-block;
        margin-left: 24px;
        // height: 32px;
    }
    &__sns-item-link {
        // display: inline-block;
        // height: 100%;
        // width: 100%;
    }
    &__sns-item-icon {
        display: inline-block;
        width: 48px;
        text-align: center;
        color: $white;
    }
    // &__sns-item-text {
    //     display: inline-block;
    //     margin-left: 4px;
    //     height: 100%;
    //     line-height: 32px;
    // }
    &__copyright-wrapper {
        margin-top: 24px;
        text-align: right;
    }
    &__copyright {
        font-size: 14px;
    }
}