.header {
    overflow-x: hidden;
    height: 100vh;

    &__container {
        margin-top: 28vh;
        height: 72vh;
    }
    &__heading {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 50%;
        // min-height: 240px;
    }
    &__heading-roman-wrapper {
    }
    &__heading-roman {
        font-size: 32px;
        @media ( min-width: 768px ) {
            font-size: 48px
        }
        
    }
    &__heading-kanji-wrapper {
        text-align: right;
    }
    &__heading-kanji {
        font-size: 100px;
        @media ( min-width: 768px ) {
            font-size: 120px
        }
    }
    &__arrow-wrapper {
        display: flex;
        // flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        height: 50%;
    }
    &__arrow {
        height: 24px;
        width: 24px;
        border-left: solid 3px black;
        border-bottom: solid 3px black;
        // transform: rotate(-45deg);

        opacity: 0;
        animation: arrow-drop-down 0.5s ease-out 1s 1 forwards;
    }
}

@keyframes arrow-drop-down {
    from {
        opacity: 0;
        transform: translateY(-40px) rotate(-45deg);
    }
    to {
        opacity: 1;
        transform: translateY(-12px) rotate(-45deg);
    }
}