.header {
    overflow-x: hidden;
    height: 100vh;

    &__container {
        margin-top: 24vh;
        height: 76vh;
    }
    &__heading {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 50%;
        // min-height: 240px;
    }
    &__heading-roman-wrapper {
    }
    &__heading-roman {
        font-size: 32px;
        @media ( min-width: 768px ) {
            font-size: 48px
        }
        @media ( min-width: 1024px ) {
            font-size: 64px
        }
        
    }
    &__heading-kanji-wrapper {
        text-align: right;
    }
    &__heading-kanji {
        font-size: 100px;
        @media ( min-width: 768px ) {
            font-size: 120px
        }
        @media ( min-width: 1024px ) {
            font-size: 140px
        }
    }
    &__arrow-wrapper {
        display: flex;
        // position: relative;
        // flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        height: 50%;
    }
    &__arrow {
        // position: absolute;
        margin-bottom: 8vh;
        height: 28px;
        width: 28px;
        border-left: solid 3px $black;
        border-bottom: solid 3px $black;
        @media (min-width: 768px) {
            height: 36px;
            width: 36px;
            // border-left: solid 3px $black;
            // border-bottom: solid 3px $black;
        }
        // bottom: 48px;
        // transform: rotate(-45deg);

        opacity: 0;
        animation: arrow-drop-down 0.5s ease-out 1s 1 forwards;
    }
}

@keyframes arrow-drop-down {
    from {
        opacity: 0;
        transform: translateY(-32px) rotate(-45deg);
    }
    to {
        opacity: 1;
        transform: translateY(-0px) rotate(-45deg);
    }
}