.main {
    overflow-x: hidden;
    // display: flex;

    &__container {
        margin-top: 140px;
        margin-bottom: 200px;
    }
    &__inner:nth-child(n+2) {
        margin-top: 180px;
    }
    &__inner-heading-wrapper {
        
    }
    &__inner-heading {
        font-size: 44px;
        @media (min-width: 1024px) {
            font-size: 52px;
        }
    }
    &__inner-text-wrapper {

    }
    &__inner-text {
        font-size: 18px;
    }
}