.main-about {
    &__heading-wrapper {
        text-align: right;
    }
    &__text-wrapper {
        margin-top: 60px;
    }
    // QUESITON: このCSSをこのファイルに書くべきか、main-innerの付属として書くべきか
    &__text:nth-child(n+2) {
        margin-top: 24px;
    }
}