.main {
    overflow-x: hidden;
    // display: flex;

    &__container {
        margin-top: 140px;
    }
    &__inner:nth-child(n+2) {
        margin-top: 180px;
    }
    &__inner-heading-wrapper {
        
    }
    &__inner-heading {
        font-size: 44px;
        @media (min-width: 1024px) {
            font-size: 52px;
        }
    }
    &__inner-text-wrapper {
        // QUESTION: 気分と雰囲気でつけた。これいる？
        width: 100%;
        @media (min-width: 480px) {
            width: 88%;
        }
    }
    &__inner-text {
        font-size: 18px;
    }
}