html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

*,
*::before,
*::after {
  box-sizing: border-box; }

button {
  line-height: 1; }

.nhk-end {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: sans-serif; }
  .nhk-end__container {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .nhk-end__end {
    font-size: 120px; }
  .nhk-end__created {
    margin-top: 10px;
    font-size: 40px; }
  .nhk-end__line {
    margin-top: 6px;
    height: 4px;
    width: 212px;
    border-radius: 2px;
    background-color: black; }
  .nhk-end__nhk {
    margin-top: 8px; }
  .nhk-end__nhk-inner {
    display: inline-block;
    position: relative;
    height: 56px;
    width: 48px; }
  .nhk-end__nhk-inner:nth-child(2) {
    margin-left: 4px; }
  .nhk-end__nhk-inner:nth-child(3) {
    margin-left: 5px; }
  .nhk-end__nhk-inner-text {
    display: inline-block;
    padding-right: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 0.8em;
    line-height: 0.8em;
    font-size: 28px;
    font-family: 'Fredoka One';
    font-style: italic; }
  .nhk-end__nhk-inner-text.-one {
    transform: translateY(-50%) translateX(-50%) scale(1, 0.8) translateX(2px); }
  .nhk-end__nhk-inner-text.-two {
    transform: translateY(-50%) translateX(-50%) scale(1, 0.8) translateX(2px); }
  .nhk-end__nhk-inner-text.-three {
    transform: translateY(-50%) translateX(-50%) scale(1, 0.8) translateX(2px); }
  .nhk-end__nhk-inner-border {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 28% 72% 40% 60% / 28% 60% 40% 72%;
    height: 56px;
    width: 52px;
    border: solid 3px black; }
  .nhk-end__nhk-inner-border.-one {
    transform: rotate(252deg); }
  .nhk-end__nhk-inner-border.-two {
    transform: rotate(338deg) translateY(3px); }
  .nhk-end__nhk-inner-border.-three {
    transform: rotate(72deg); }
